@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&display=swap');



* {
    box sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    color: whitesmoke;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1em;
    font-weight: lighter;
    border-bottom: 1px solid #777; 
    border: 1px;
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-image: url('https://rawcdn.githack.com/4060269/NgunnawalCountryWebDev/b9db498da5f886e66eab5823c0488da4f578b0cc');
    background-position: center;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    color: whitesmoke;
    font-family: 'Azeret Mono', monospace;
    margin: 0;
    font-size: 4em;
}

.band-name-large { 
    font-size: 7em;
}

.content-section {
    margin: 1em;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 6em;
}

.section-header {
    font-family: 'Azeret Mono', monospace;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 2.5em;
}

.about-logic-image {
    float: left;
    width: 20%;
    height: 100%;
    margin: 15px;
    border-radius: 20%;
}

.main-footer {
    background-color: #b92d2c;
    color: White;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: right;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

body {
    background-color: #121212;
}

.btn-header {
    display: block;
    margin: 0 auto;
    color: white;
    border: 2px solid #333;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1;
    font-size: 1em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3)
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: aliceblue;
}

.album-row {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.album-row:last-child {
    border-bottom: none;
}

.album-item {
    display: inline-block;
    padding-right: .5em;
}

.album-name {
    font-weight: bolder;
    width: 24%;
}

.album-date {
    width: 11%;
}

.album-quote {
    width: 42%;
}

.album-button {
    position: relative; top: -20px;
    max-width: 19%;

}

.button-primary {
    color: whitesmoke;
    background-color: #2cb8b9;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.button-primary:hover {
    background-color: #777;
}

.shop-item {
 margin: 1em;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}

.shop-item-img{
    height: 275px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item-reduced {
    color: red;
    margin: -60px;
}

.shop-item-price-reduced {
    color: red;
    
}

.cart-header {
    font-size: 1.2em;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
}

.btn-danger {
    color: white;
    background-color: red;
    border: none;
    border-radius: .3em;
}

.btn-danger:hover {
    background-color: darkred;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    color: #333;
    padding: 0%;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid white;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}