@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  color: whitesmoke;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
  border-bottom: 1px solid #777;
  border: 1px;
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-image: url(/Images/Ngunnawal-country-banner.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 30px;
}

form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: left;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px Urbanist;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

.title {
  text-align: center;
  color: whitesmoke;
  font-family: 'Azeret Mono', monospace;
  margin: 0;
  font-size: 4em;
}

.title-large {
  font-size: 5em;
  padding: 0.4em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 6em;
}

.section-header {
  font-family: 'Azeret Mono', monospace;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-size: 2.5em;
}

.main-content-img {
  float: left;
  width: 20%;
  height: 100%;
  margin: 15px;
  border-radius: 20%;
}

.main-footer {
  background-color: #b92d2c;
  font-weight: lighter;
  color: White;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: right;
}

.footer-text {
  font-size: 1.5em;
  display: flex;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 200px;
  height: 100px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

body {
  background-color: #121212;
}

.btn-header {
  display: block;
  margin: 0 auto;
  color: white;
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1;
  font-size: 1em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: aliceblue;
}

.button-primary {
  color: whitesmoke;
  background-color: #2cb8b9;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.button-primary:hover {
  background-color: #777;
}

.btn-danger {
  color: white;
  background-color: red;
  border: none;
  border-radius: 0.3em;
}

.btn-danger:hover {
  background-color: darkred;
}
